<a href="https://colab.research.google.com/github/rashidat98/practice_1/blob/main/My_book_sailpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# basic maths practice

In [ ]:
80/5

16.0

In [ ]:
100-40

60

In [ ]:
500+250

750

In [ ]:
50*50

2500

In [ ]:
# data types

In [ ]:
# variables in python practice

In [ ]:
aasiyah = "baby"
aasiyah

'baby'

In [ ]:
rayyan = "no 1"
print(rayyan)

no 1

In [ ]:
sch_fees= 10000+5000+2000+3000
sch_fees

20000

In [ ]:
# practice time

In [ ]:
70/7

10.0

In [ ]:
100*5

500

In [ ]:
tjay = "50000"
tjay

'50000'

In [ ]:
ola_1 = "the book is on the table"
print(ola_1)

the book is on the table

In [ ]:
wunmi ="my name is adedeji rashidat"
print(wunmi)

my name is adedeji rashidat

In [ ]:
cocopops = 32000 + 6500 + 3250
cocopops

41750

In [ ]:
# practice time 2

In [ ]:
100//30

3

In [ ]:
50//30

1

In [ ]:
4**5

1024

In [ ]:
5**2

25

In [ ]:
7*7

49

In [ ]:
4*5

20

In [ ]:
50%3

2

In [ ]:
73%4

1

In [ ]:
5*5

25

In [ ]:
# practice time 3
a = 2
b = 6
a == b

False

In [ ]:
a >= b

False

In [ ]:
b <= a

False

In [ ]:
a != b

True

In [ ]:
a <= b

True

In [ ]:
b >= a

True

In [ ]:
# practice time 4

In [ ]:
tope = 1900
type(tope)

int

In [ ]:
tope2 = 500
type(tope2)

int

In [ ]:
sayo = 11.50
type(sayo)

float

In [ ]:
sayo1 = 30.10
type(sayo1)

float

In [ ]:
sayo2 = "i am a smart girl"
type(sayo2)

str

In [ ]:
titi = 1 + 3j
type(titi)

complex

In [ ]:
wale_is_a_boy = True
type(wale_is_a_boy)

bool

In [ ]:
shoe = False
type(shoe)

bool

In [ ]:
tunde_girl = False
type(tunde_girl)

bool

In [ ]:
tope + tope2

2400

In [ ]:
sayo + sayo1

41.6

In [ ]:
# data structures
sola_list = ["bread", "beans", "meat", "egg","pomo","butter"]
print(sola_list)

['bread', 'beans', 'meat', 'egg', 'pomo', 'butter']

In [ ]:
sola_list.append(2000)
print(sola_list)

['bread', 'beans', 'meat', 'egg', 'pomo', 'butter', 2000]

In [ ]:
sola_list.insert(6, "water")
print(sola_list)

['bread', 'beans', 'meat', 'egg', 'pomo', 'butter', 'water', 2000]

In [ ]:
sola_list.remove("egg")
print(sola_list)

['bread', 'beans', 'meat', 'pomo', 'butter', 'water', 2000]

In [ ]:
sola_list.insert(3, "fish")
print(sola_list)

['bread', 'beans', 'meat', 'fish', 'pomo', 'butter', 'water', 2000]

In [ ]:
sola_list[6] = "table_water"
print(sola_list)

['bread', 'beans', 'meat', 'fish', 'pomo', 'butter', 'table_water', 2000]

In [ ]:
sola_list.remove(2000)
print(sola_list)

['bread', 'beans', 'meat', 'fish', 'pomo', 'butter', 'table_water']

In [ ]:
#initializing a list
titi_learning_list = []

#lets populate the list
titi_learning_list.append("python")
titi_learning_list.append("pandas")
titi_learning_list.append("numpy")
titi_learning_list.append("matplotlib")
titi_learning_list.append("seaborn")
titi_learning_list.append("scikit-learn")
titi_learning_list.append("tensorflow")
titi_learning_list.append("pytorch")

print(titi_learning_list)

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn', 'scikit-learn', 'tensorflow', 'pytorch']

In [ ]:
type(titi_learning_list)

list

In [ ]:
titi_learning_list.remove("tensorflow")
print(titi_learning_list)

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn', 'scikit-learn', 'pytorch']

In [ ]:
del titi_learning_list [6]
print(titi_learning_list)

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn', 'scikit-learn']

In [ ]:
# indexing and slicing a list
peju = "trademark"
peju[:5]

'trade'

In [ ]:
peju[9:]

''

In [ ]:
peju[:9]

'trademark'

In [ ]:
peju[6:]

'ark'

In [ ]:
peju[:0]

''

In [ ]:
peju[:1]

't'

In [ ]:
peju[-3:]

'ark'

In [ ]:
peju[-4:]

'mark'

In [ ]:
peju[-9:]

'trademark'

In [ ]:
peju[5:]

'mark'

In [ ]:
peju[:1]

't'

In [ ]:
# indexing through a list

In [ ]:
# lets bring back titi_learning_list
titi_learning_list[-6]

'python'

In [ ]:
titi_learning_list[-1]

'scikit-learn'

In [ ]:
titi_learning_list[1]

'pandas'

In [ ]:
titi_learning_list[0]

'python'

In [ ]:
print(titi_learning_list)

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn', 'scikit-learn']

In [ ]:
titi_learning_list[:]

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn', 'scikit-learn']

In [ ]:
titi_learning_list[::]

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn', 'scikit-learn']

In [ ]:
titi_learning_list[0:5]

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn']

In [ ]:
titi_learning_list[0:2]

['python', 'pandas']

In [ ]:
# lets do negative slicing
titi_learning_list[-1:]

['scikit-learn']

In [ ]:
titi_learning_list[:-1]

['python', 'pandas', 'numpy', 'matplotlib', 'seaborn']

In [ ]:
titi_learning_list[:-3]

['python', 'pandas', 'numpy']

In [ ]:
titi_learning_list[-3:]

['matplotlib', 'seaborn', 'scikit-learn']

In [ ]:
titi_learning_list[::2]

['python', 'numpy', 'seaborn']

In [ ]:
# another way to create list
lst1 = list(range(8))
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
lst2 = list(("apple", "guava", "cherry", "kiwi", "pawpaw"))
print(lst2)

['apple', 'guava', 'cherry', 'kiwi', 'pawpaw']

In [ ]:
# creating  tuples
tuple = (1,2,3,4,5,6,7,8,9)
print(tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# creating a tuple and printing using print formatting
tuple_example = (4,5,6,7,8,9)
print("tuple example:", tuple_example)

tuple example: (4, 5, 6, 7, 8, 9)

In [ ]:
tupleexample1 = (1,2,3,4,5)
print("tuple example:", tupleexample1)

tuple example: (1, 2, 3, 4, 5)

In [ ]:
# accessing element
firstelement = tupleexample1[0]
print(firstelement)

1

In [ ]:
secondelement = tupleexample1[1]
print(secondelement)

2

In [ ]:
thirdelement = tupleexample1[2]
print(thirdelement)

3

In [ ]:
# lets slice our tuple

In [ ]:
# slicing a tuple
sliced_tuple = tuple_example[4:9]
print("sliced tuple containing index 4 to 8:", sliced_tuple)

sliced tuple containing index 4 to 8: (8, 9)

In [ ]:
slicedtuple = tupleexample1[1:5]
print("sliced tuple containing index 1 to 4", slicedtuple)

sliced tuple containing index 1 to 4 (2, 3, 4, 5)

In [ ]:
# tuple operation
concatenated_tuple = tuple_example + (6, 7, 8)
repeated_tuple = tuple_example * 3
print(concatenated_tuple)
print("repeated tuple:", repeated_tuple)

(4, 5, 6, 7, 8, 9, 6, 7, 8)
repeated tuple: (4, 5, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9)

In [ ]:
# tuple methods
count_of_3 = tuple_example.count(3)
index_of_4 = tuple_example.index(4)
print(count_of_3)
print(index_of_4)

0
0

In [ ]:
# creating a dictionary
biodata= {"age":20, 'gender':'f', 'edu':'Bsc'}
biodata

{'age': 20, 'gender': 'f', 'edu': 'Bsc'}

In [ ]:
#lets use the keys to access the values
biodata["age"]

20

In [ ]:
#lets use the keys to access the values
biodata["gender"]

'f'

In [ ]:
#lets get the edu
biodata['edu']

'Bsc'

In [ ]:
#lets get all the keys
for key in biodata:
  print(key)

age
gender
edu

In [ ]:
#lets get all the values
for value in biodata.values():
  print(value)

20
f
Bsc

In [ ]:
#lets get both keys and values
for key, value in biodata.items():
  print(key, value)

age 20
gender f
edu Bsc

In [ ]:
#lets add name of school to the biodata
biodata["name of school"] = "unilag"
print(biodata)

{'age': 20, 'gender': 'f', 'edu': 'Bsc', 'name of school': 'unilag'}

In [ ]:
#lets reduce biodata's age
biodata["age"] -= 2
print(biodata)

{'age': 18, 'gender': 'f', 'edu': 'Bsc', 'name of school': 'unilag'}

In [ ]:
#lets add five to her age
biodata["age"] += 5
print(biodata)

{'age': 23, 'gender': 'f', 'edu': 'Bsc', 'name of school': 'unilag'}

In [ ]:
#lets replace her age with with 30
biodata["age"] = 30
print(biodata)

{'age': 30, 'gender': 'f', 'edu': 'Bsc', 'name of school': 'unilag'}

In [ ]:
#lets remove her age
del biodata["age"]
print(biodata)

{'gender': 'f', 'edu': 'Bsc', 'name of school': 'unilag'}

In [ ]:
#lets check if her age is there
"age" in biodata

False

In [ ]:
#lets confirm if her age is still there
if "age" in biodata:
  print("age is still there")
else:
  print("age is not there")

age is not there

In [ ]:
# combining two dictionaries
biodata_hubby = {"food":"rice","origin":"lagos","sport":"ball"}

In [ ]:
biodata.update(biodata_hubby)
print(biodata)

{'gender': 'f', 'edu': 'Bsc', 'name of school': 'unilag', 'food': 'rice', 'origin': 'lagos', 'sport': 'ball'}

In [ ]:
# creating a set
new_set = {6,7,8,9,10}
print(new_set)

{6, 7, 8, 9, 10}

In [ ]:
# checking set type
type(new_set)

set

In [ ]:
# create a set
my_set1 = {1,2,3,4,5,6,7,7,7,7,8}
print(my_set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# checking set type
type(my_set1)

set

In [ ]:
# lets iterate through the set
for item in new_set:
  print(item)

6
7
8
9
10

In [ ]:
# add an element to the set
new_set.add(11)
print(new_set)

{6, 7, 8, 9, 10, 11}

In [ ]:
# lets remove the secondelement, which is 7
new_set.discard(7)
print(new_set)

{6, 8, 9, 10, 11}

In [ ]:
#lets combine two sets
set3 = {2,3,4,5}
set4 = {1,2,6,7,8}
combined_set = set3.union(set4)
print(combined_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#lets check for element that are the same in two set
set3 = {2,3,4,5}
set4 = {1,2,6,7,8}
intersection_set = set3.intersection(set4)
print(intersection_set)

{2}

In [ ]:
# lets iterate through the set
for item in my_set1:
  print(item)

1
2
3
4
5
6
7
8

In [ ]:
#lets add an element to our set
my_set1.add(9)
print(my_set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# lets remove the third element which is 3
my_set1.remove(3)
print(my_set1)

{1, 2, 4, 5, 6, 7, 8, 9}

In [ ]:
#lets check the type
type(my_set1)

set

In [ ]:
# creating an email splitter

In [ ]:
# my mail
email = input('check for my mail')
split = email.split('@')
split

check for my mailoladejirashidat98@gmail.com

['oladejirashidat98', 'gmail.com']

In [ ]:
split[0]

'oladejirashidat98'

In [ ]:
split[1]

'gmail.com'

In [ ]:
mail_dict = {"username":split[0], "domain":split[1]}

In [ ]:
print("username:",mail_dict['username'])

username: oladejirashidat98

In [ ]:
print("domain:",mail_dict['domain'])

domain: gmail.com

In [ ]:
# creating fellowId splitter
fellowId = input('put fellowId')
split = fellowId.split('/')
split

put fellowIdfe/23/96172745

['fe', '23', '96172745']

In [ ]:
split[0]

'fe'

In [ ]:
split[1]

'23'

In [ ]:
split[2]

'96172745'

In [ ]:
Id_dict = {"fellow":split[0], "year":split[1], "Id":split[2]}

In [ ]:
print("fellow:",Id_dict['fellow'])

fellow: fe

In [ ]:
print("year:",Id_dict['year'])

year: 23

In [ ]:
print("Id:",Id_dict['Id'])

Id: 96172745

In [ ]:
# creating sentence splitter
word_sentence = input("put sentence:")

put sentence:Aasiyah is a girl

In [ ]:
# counting the alphabet in the input
alphabet_count = len(word_sentence)
print(f"letter/alphabet count: {alphabet_count}")

letter/alphabet count: 17

In [ ]:
# counting the sentence
sentence_count  = word_sentence.count('.')
print(f"sentence count: {sentence_count}")

sentence count: 0

In [ ]:
# counting the word in the sentence
input_split = word_sentence.split()
word_count = len(input_split)
print(f"word count: {word_count}")

word count: 4

In [ ]:
# counting occurence of letter (a) in the input
occurence_count = word_sentence.count('a')
print(f"letter (a) count: {occurence_count}")

letter (a) count: 3

In [ ]:
# conditional statement
if(conditional):

In [ ]:
# if statement using input function
age = int(input("please, enter age:"))

if age <= 8:
  print("i am a girl.")

please, enter age:5
i am a girl.

In [ ]:
# "if else" statement using input function
age = int(input("enter age:"))
if age <= 8:
  print("i am a girl")
else:
  print("i am a baby")

enter age:10
i am a baby

In [ ]:
# "if elif else" statement
age = int(input("enter age:"))

if age<= 8:
  print("i am a girl")
elif age <= 11:
  print("iam a baby")
else:
  print("i am a mum")

enter age:25
i am a mum

In [ ]:
# more than one elif
age = int(input("enter age:"))

if age <= 8:
  print("i am a girl")
elif age <= 11:
  print("i am a baby")
elif age <= 20:
  print("i am a young mum")
else:
  print("i am a mum")

enter age:26
i am a mum

In [ ]:
# "multiple elif" statement
age = int(input("enter age:"))

if age <= 8:
  print("i am a girl")
elif age <= 11:
  print("i am a baby")
elif age <= 20:
  print("i am a young mum")
elif age <= 25:
  print("i am a mum")
else:
  print("i am grandma")

enter age:50
i am grandma

In [ ]:
# mini project
score = int(input("enter score:"))

if score >= 80:
  print("A")
elif score >= 70:
  print("B")
elif score >= 50:
  print("C")
elif score >= 45:
  print("D")
else:
  print("F")

enter score:40
F

In [ ]:
# nested if
# lets check if input is a positive number and even number
num = int(input("enter a number:"))

if num >= 2:
  print("the number is positive.")
  if num % 4 == 2:
    print("the number is even")

enter a number:26
the number is positive.
the number is even

In [ ]:
# nested if else
# who can join millitary

age = int(input("enter age:"))

height = int(input("enter height in centimeters:"))

if age >= 20:
  if height >= 180:
    print("you are eligible to join army")
  else:
    print("you are not tall to join")
else:
  print("you are young to join")

enter age:22
enter height in centimeters:175
you are not tall to join

In [ ]:
# for loop
list_colors = ["green", "orange", "black", "red","blue","grey"]
print(list_colors)
for green in list_colors:
  print(green)

['green', 'orange', 'black', 'red', 'blue', 'grey']
green
orange
black
red
blue
grey

In [ ]:
for number in range(1,6):
  print(number)

1
2
3
4
5

In [ ]:
for number in range(6):
  print(number)

0
1
2
3
4
5

In [ ]:
snacks = ["doughnut", "meatpie", "buns"]
for index, snack in enumerate(snacks):
  print(f"at position {index}, i bought a {snack}")

at position 0, i bought a doughnut
at position 1, i bought a meatpie
at position 2, i bought a buns

In [ ]:
# Defining functions
def greet(rashy):
  print(f"hello, {rashy}")

In [ ]:
def greet(rashy):
  print(f"hello, {rashy}, this is my name")

In [ ]:
greet("rashy")

hello, rashy, this is my name

In [ ]:
# function without parameters
def greet():
  print("hi, people")

In [ ]:
greet()

hi, people

In [ ]:
def greet_us():
  print("hi people, this is data science class and i am new here")

In [ ]:
greet_us()

In [ ]:
# funtion with multiple parameters

In [ ]:
def add_numbers(a, b):
  print(a + b)

In [ ]:
def rayyan_and_abdurrahman_and_aasiyah(rayyan_age, abdurrahman_age, aasiyah_age):
  print(rayyan_age + abdurrahman_age + aasiyah_age)

In [ ]:
rayyan_and_abdurrahman_and_aasiyah(8, 6, 4)

18

In [ ]:
# calling the function
add_numbers(50, 7)

57

In [ ]:
result = add_numbers(50,7)

57

In [ ]:
result = add_numbers(50, 7)
print(result)

57
None

In [ ]:
def subtract_numbers(a, b):
  print(a-b)

In [ ]:
subtract_numbers(60, 12)

48

In [ ]:
subtract_numbers(5, 14)

-9

In [ ]:
def add_numbers(a, b):
  return a + b

In [ ]:
add_numbers(8, 7)

15

In [ ]:
def square_number(b):
  return b ** b

In [ ]:
result = square_number(5)
print(result)

3125

In [ ]:
def square_number(b):
  return b*b

In [ ]:
result = square_number(6)
print(result)

36

In [ ]:
def greet(name="stranger"):
  return(f"hello,{name}")

In [ ]:
greet()

'hello,stranger'

In [ ]:
greet("rashy")

'hello,rashy'

In [ ]:
def introduction(name, age, city, school,origin):
  print(f"my name is {name}, i am {age} years old, i live at {city}, the name of my school is {school},i am from {origin}")

In [ ]:
introduction(name="ola",age=20, city="ebute", school="unilag", origin="oyo")

my name is ola, i am 20 years old, i live at ebute, the name of my school is unilag,i am from oyo

In [ ]:
# lambda function to add two numbers
add = lambda a,b: a+b

In [ ]:
print(add(6, 9))

15

In [ ]:
print(add(50, 20))

70

In [ ]:
def my_function():
  n = 15
  return n

In [ ]:
def my_function(n):
  print()

In [ ]:
# global variables
x =10

In [ ]:
def print_number():
  print(x)

In [ ]:
# introduction to data analysis

In [ ]:
import pandas as pd

In [ ]:
seyi_dictionary = {"name":"seyi", "school":"3mtt", "track": "data science"}
data = pd.Series(seyi_dictionary)

In [ ]:
data

name              seyi
school            3mtt
track     data science
dtype: object

In [ ]:
data.values

array(['seyi', '3mtt', 'data science'], dtype=object)

In [ ]:
data_science_cohort2 = [{"name":"tobi","age":21},
                        {"name":"joy", "age":25},
                         {"name":"toheebat", "age":25},
                          {"name":"rashidat", "age":36},
                         {"name":"emmanuel", "age":29}]
data = pd.DataFrame(data_science_cohort2)

In [ ]:
data

       name  age
0      tobi   21
1       joy   25
2  toheebat   25
3  rashidat   36
4  emmanuel   29

In [ ]:
attendance = {"class1":["joy","rashidat","seyi","tope"],
              "class2":["rashidat","tobi","seyi","ikechukwu"],
              "class3":["emmanuel","esther","ibrahim","toheebat"]}
data = pd.DataFrame(attendance)

In [ ]:
data.columns

Index(['class1', 'class2', 'class3'], dtype='object')

In [ ]:
data.values

array([['joy', 'rashidat', 'emmanuel'],
       ['rashidat', 'tobi', 'esther'],
       ['seyi', 'seyi', 'ibrahim'],
       ['tope', 'ikechukwu', 'toheebat']], dtype=object)

In [ ]:
bio_data = {'fe00234': {'name': 'seyi', 'age': 25},
            'fe00235': {'name': 'esther', 'age': 30},
            'fe00236': {'name': 'tobi', 'age': 21}}
data = pd.DataFrame(bio_data)

In [ ]:
data

     fe00234 fe00235 fe00236
name    seyi  esther    tobi
age       25      30      21

In [ ]:
data.columns

Index(['fe00234', 'fe00235', 'fe00236'], dtype='object')

In [ ]:
data.values

array([['seyi', 'esther', 'tobi'],
       [25, 30, 21]], dtype=object)

In [ ]:
import pandas as rashy

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dothead() or.head() ----> to view first five rows of our dataset
trip.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dottail() or.tail() ----> to view last five rows of our dataset
trip.tail()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
236060,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
236061,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236062,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236063,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236064,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dotdescribe() or.describe() ----> to view first five rows of our dataset
trip.describe()

             trip_id  tripduration      birthyear
count  236065.000000  236065.00000  146167.000000
mean   130059.869333    1202.61221    1979.879740
std     72842.289278    2066.42488      10.154978
min       431.000000      60.00800    1931.000000
25%     67746.000000     392.26500    1975.000000
50%    130526.000000     633.23500    1983.000000
75%    192900.000000    1145.01500    1987.000000
max    255245.000000   28794.39800    1999.000000

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dotshape or.shape ----> to view first five rows of our dataset
trip.shape

(236065, 12)

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dotloc or.loc ----> to view first five rows of our dataset
trip.loc

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dotiloc or.iloc ----> to access data by in integers index of our dataset
trip.iloc

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dotfillna or.fillna ----> to fill missing values of our dataset
trip.fillna

<bound method NDFrame.fillna of         trip_id         starttime          stoptime    bikeid  tripduration  \
0           431  10/13/2014 10:31  10/13/2014 10:48  SEA00298       985.935
1           432  10/13/2014 10:32  10/13/2014 10:48  SEA00195       926.375
2           433  10/13/2014 10:33  10/13/2014 10:48  SEA00486       883.831
3           434  10/13/2014 10:34  10/13/2014 10:48  SEA00333       865.937
4           435  10/13/2014 10:34  10/13/2014 10:49  SEA00202       923.923
...         ...               ...               ...       ...           ...
236060   255241   8/31/2016 23:34   8/31/2016 23:45  SEA00201       679.532
236061   255242   8/31/2016 23:48     9/1/2016 0:20  SEA00247      1965.418
236062   255243   8/31/2016 23:47     9/1/2016 0:20  SEA00300      1951.173
236063   255244   8/31/2016 23:49     9/1/2016 0:20  SEA00047      1883.299
236064   255245   8/31/2016 23:49     9/1/2016 0:20  SEA00442      1896.031

                             from_station_name  \
0                          2nd Ave & Spring St
1                          2nd Ave & Spring St
2                          2nd Ave & Spring St
3                          2nd Ave & Spring St
4                          2nd Ave & Spring St
...                                        ...
236060                 Harvard Ave & E Pine St
236061  Cal Anderson Park / 11th Ave & Pine St
236062  Cal Anderson Park / 11th Ave & Pine St
236063  Cal Anderson Park / 11th Ave & Pine St
236064  Cal Anderson Park / 11th Ave & Pine St

                                          to_station_name from_station_id  \
0       Occidental Park / Occidental Ave S & S Washing...          CBD-06
1       Occidental Park / Occidental Ave S & S Washing...          CBD-06
2       Occidental Park / Occidental Ave S & S Washing...          CBD-06
3       Occidental Park / Occidental Ave S & S Washing...          CBD-06
4       Occidental Park / Occidental Ave S & S Washing...          CBD-06
...                                                   ...             ...
236060                                2nd Ave & Spring St           CH-09
236061                              6th Ave S & S King St           CH-08
236062                              6th Ave S & S King St           CH-08
236063                              6th Ave S & S King St           CH-08
236064                              6th Ave S & S King St           CH-08

       to_station_id                usertype  gender  birthyear
0              PS-04                  Member    Male     1960.0
1              PS-04                  Member    Male     1970.0
2              PS-04                  Member  Female     1988.0
3              PS-04                  Member  Female     1977.0
4              PS-04                  Member    Male     1971.0
...              ...                     ...     ...        ...
236060        CBD-06  Short-Term Pass Holder     NaN        NaN
236061         ID-04  Short-Term Pass Holder     NaN        NaN
236062         ID-04  Short-Term Pass Holder     NaN        NaN
236063         ID-04  Short-Term Pass Holder     NaN        NaN
236064         ID-04  Short-Term Pass Holder     NaN        NaN

[236065 rows x 12 columns]>

In [ ]:
# rashy.read_csv()
trip = rashy.read_csv("/content/drive/MyDrive/ola's folder/trip.csv")
#dotdropna() or.dropna() ----> to view first five rows of our dataset
trip.dropna()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
236051,255232,8/31/2016 21:59,8/31/2016 22:04,SEA00499,308.484,E Harrison St & Broadway Ave E,Bellevue Ave & E Pine St,CH-02,CH-12,Member,Male,1989.0
236052,255233,8/31/2016 22:02,8/31/2016 22:17,SEA00074,905.417,Key Arena / 1st Ave N & Harrison St,Pier 66 / Alaskan Way & Bell St,SLU-19,WF-03,Member,Female,1974.0
236053,255234,8/31/2016 22:02,8/31/2016 22:17,SEA00448,879.160,Key Arena / 1st Ave N & Harrison St,Pier 66 / Alaskan Way & Bell St,SLU-19,WF-03,Member,Male,1981.0
236055,255236,8/31/2016 22:13,8/31/2016 22:25,SEA00254,674.993,3rd Ave & Broad St,Occidental Park / Occidental Ave S & S Washing...,BT-01,PS-04,Member,Male,1984.0
236056,255237,8/31/2016 22:37,8/31/2016 22:39,SEA00330,144.477,Summit Ave & E Denny Way,Summit Ave E & E Republican St,CH-01,CH-03,Member,Male,1990.0

In [ ]:
# subsetting your dataset

In [ ]:
trip.columns

Index(['trip_id', 'starttime', 'stoptime', 'bikeid', 'tripduration',
       'from_station_name', 'to_station_name', 'from_station_id',
       'to_station_id', 'usertype', 'gender', 'birthyear'],
      dtype='object')

In [ ]:
# another method subsetting

In [ ]:
trip[["trip_id" ,"starttime", "bikeid", "tripduration"]]

        trip_id         starttime    bikeid  tripduration
0           431  10/13/2014 10:31  SEA00298       985.935
1           432  10/13/2014 10:32  SEA00195       926.375
2           433  10/13/2014 10:33  SEA00486       883.831
3           434  10/13/2014 10:34  SEA00333       865.937
4           435  10/13/2014 10:34  SEA00202       923.923
...         ...               ...       ...           ...
236060   255241   8/31/2016 23:34  SEA00201       679.532
236061   255242   8/31/2016 23:48  SEA00247      1965.418
236062   255243   8/31/2016 23:47  SEA00300      1951.173
236063   255244   8/31/2016 23:49  SEA00047      1883.299
236064   255245   8/31/2016 23:49  SEA00442      1896.031

[236065 rows x 4 columns]

In [ ]:
trip[["trip_id","starttime","bikeid","tripduration"]].head(1)

   trip_id         starttime    bikeid  tripduration
0      431  10/13/2014 10:31  SEA00298       985.935

In [ ]:
trip.dtypes

trip_id                int64
starttime             object
stoptime              object
bikeid                object
tripduration         float64
from_station_name     object
to_station_name       object
from_station_id       object
to_station_id         object
usertype              object
gender                object
birthyear            float64
dtype: object

In [ ]:
trip['trip_id']

0            431
1            432
2            433
3            434
4            435
           ...
236060    255241
236061    255242
236062    255243
236063    255244
236064    255245
Name: trip_id, Length: 236065, dtype: int64

In [ ]:
trip["starttime"]

0         10/13/2014 10:31
1         10/13/2014 10:32
2         10/13/2014 10:33
3         10/13/2014 10:34
4         10/13/2014 10:34
                ...
236060     8/31/2016 23:34
236061     8/31/2016 23:48
236062     8/31/2016 23:47
236063     8/31/2016 23:49
236064     8/31/2016 23:49
Name: starttime, Length: 236065, dtype: object

In [ ]:
trip["trip_id"].head(2)

0    431
1    432
Name: trip_id, dtype: int64

In [ ]:
# renaming columns

In [ ]:
cols = ['TripID', 'StartTime', 'StopTime', 'BikeID', 'TripDuration',
       'FromStationName', 'ToStationName', 'FromStationID',
       'ToStationID', 'Usertype', 'Gender', 'Birthyear']

In [ ]:
trip.columns = cols

In [ ]:
trip.columns

Index(['TripID', 'StartTime', 'StopTime', 'BikeID', 'TripDuration',
       'FromStationName', 'ToStationName', 'FromStationID', 'ToStationID',
       'Usertype', 'Gender', 'Birthyear'],
      dtype='object')

In [ ]:
# method 2 to rename
trip = trip.rename(columns={"old_columns":"new_columns"})

In [ ]:
trip.rename(columns={"old_columns":"new_columns"}).head(3)

,TripID,StartTime,StopTime,BikeID,TripDuration,FromStationName,ToStationName,FromStationID,ToStationID,Usertype,Gender,Birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0

In [ ]:
# .copy()method
df = trip.copy()

In [ ]:
df.head(2)

,TripID,StartTime,StopTime,BikeID,TripDuration,FromStationName,ToStationName,FromStationID,ToStationID,Usertype,Gender,Birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0

In [ ]:
df.tail(3)

,TripID,StartTime,StopTime,BikeID,TripDuration,FromStationName,ToStationName,FromStationID,ToStationID,Usertype,Gender,Birthyear
236062,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236063,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236064,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [ ]:
# setting index

In [ ]:
# trip.index

In [ ]:
# dot set_index()
trip.set_index("TripID")

,StartTime,StopTime,BikeID,TripDuration,FromStationName,ToStationName,FromStationID,ToStationID,Usertype,Gender,Birthyear
TripID,,,,,,,,,,,
431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...
255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [ ]:
trip.set_index("StartTime")

,TripID,StopTime,BikeID,TripDuration,FromStationName,ToStationName,FromStationID,ToStationID,Usertype,Gender,Birthyear
StartTime,,,,,,,,,,,
10/13/2014 10:31,431,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
10/13/2014 10:32,432,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
10/13/2014 10:33,433,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
10/13/2014 10:34,434,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
10/13/2014 10:34,435,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...
8/31/2016 23:34,255241,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
8/31/2016 23:48,255242,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
8/31/2016 23:47,255243,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
8/31/2016 23:49,255244,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
8/31/2016 23:49,255245,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [ ]:
# reset index
trip.reset_index()

,index,TripID,StartTime,StopTime,BikeID,TripDuration,FromStationName,ToStationName,FromStationID,ToStationID,Usertype,Gender,Birthyear
0,0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236060,236060,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
236061,236061,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236062,236062,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236063,236063,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
236064,236064,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [ ]:
trip.isna().sum()

TripID                 0
StartTime              0
StopTime               0
BikeID                 0
TripDuration           0
FromStationName        0
ToStationName          0
FromStationID          0
ToStationID            0
Usertype               0
Gender             89894
Birthyear          89898
dtype: int64

In [ ]:
trip["Gender"]

0           Male
1           Male
2         Female
3         Female
4           Male
           ...
236060       NaN
236061       NaN
236062       NaN
236063       NaN
236064       NaN
Name: Gender, Length: 236065, dtype: object

In [ ]:
trip["Gender"].isna()

0         False
1         False
2         False
3         False
4         False
          ...
236060     True
236061     True
236062     True
236063     True
236064     True
Name: Gender, Length: 236065, dtype: bool

In [ ]:
trip["Gender"].head(2)

0    Male
1    Male
Name: Gender, dtype: object

In [ ]:
trip.Gender.value_counts()

Gender
Male      112940
Female     30330
Other       2901
Name: count, dtype: int64

In [ ]:
trip["Gender"].fillna("male", inplace = True)

In [ ]:
trip.isna().sum()

TripID                 0
StartTime              0
StopTime               0
BikeID                 0
TripDuration           0
FromStationName        0
ToStationName          0
FromStationID          0
ToStationID            0
Usertype               0
Gender                 0
Birthyear          89898
dtype: int64

In [ ]:
# aggregate are used with groupby, we have 8 types
1. sum()
2. mean()
3. median()
4. std()
5. var()
6. min()
7. max()
8. value_count()

In [ ]:
# using groupby()
trip.groupby("Gender").value_counts()

Gender  TripID  StartTime         StopTime          BikeID    TripDuration  FromStationName                                       ToStationName                                                   FromStationID  ToStationID  Usertype  Birthyear
Female  433     10/13/2014 10:33  10/13/2014 10:48  SEA00486  883.831       2nd Ave & Spring St                                   Occidental Park / Occidental Ave S & S Washington St            CBD-06         PS-04        Member    1988.0       1
        434     10/13/2014 10:34  10/13/2014 10:48  SEA00333  865.937       2nd Ave & Spring St                                   Occidental Park / Occidental Ave S & S Washington St            CBD-06         PS-04        Member    1977.0       1
        439     10/13/2014 11:35  10/13/2014 11:45  SEA00486  586.347       Occidental Park / Occidental Ave S & S Washington St  King Street Station Plaza / 2nd Ave Extension S & S Jackson St  PS-04          PS-05        Member    1974.0       1
        441     10/13/2014 11:36  10/13/2014 11:45  SEA00195  564.899       Occidental Park / Occidental Ave S & S Washington St  King Street Station Plaza / 2nd Ave Extension S & S Jackson St  PS-04          PS-05        Member    1983.0       1
        446     10/13/2014 11:37  10/13/2014 11:47  SEA00106  618.781       Occidental Park / Occidental Ave S & S Washington St  King Street Station Plaza / 2nd Ave Extension S & S Jackson St  PS-04          PS-05        Member    1958.0       1
                                                                                                                                                                                                                                                    ..
Other   254795  8/30/2016 16:52   8/30/2016 16:57   SEA00279  306.542       3rd Ave & Broad St                                    2nd Ave & Pine St                                               BT-01          CBD-13       Member    1987.0       1
        254801  8/30/2016 17:06   8/30/2016 17:09   SEA00429  163.026       Broadway and E Denny Way                              E Harrison St & Broadway Ave E                                  CH-16          CH-02        Member    1987.0       1
        254983  8/31/2016 8:30    8/31/2016 8:42    SEA00151  695.299       Summit Ave & E Denny Way                              3rd Ave & Broad St                                              CH-01          BT-01        Member    1987.0       1
        255148  8/31/2016 17:21   8/31/2016 17:26   SEA00083  329.898       3rd Ave & Broad St                                    2nd Ave & Pine St                                               BT-01          CBD-13       Member    1987.0       1
        255214  8/31/2016 19:58   8/31/2016 20:06   SEA00045  503.995       2nd Ave & Pine St                                     Summit Ave & E Denny Way                                        CBD-13         CH-01        Member    1987.0       1
Name: count, Length: 146167, dtype: int64

In [ ]:
trip.groupby(["Gender", "Birthyear"]).count()

                  TripID  StartTime  StopTime  BikeID  TripDuration  \
Gender Birthyear
Female 1931.0          1          1         1       1             1
       1946.0         43         43        43      43            43
       1947.0        691        691       691     691           691
       1948.0          6          6         6       6             6
       1949.0        132        132       132     132           132
...                  ...        ...       ...     ...           ...
Other  1988.0          5          5         5       5             5
       1989.0          1          1         1       1             1
       1990.0         12         12        12      12            12
       1992.0        153        153       153     153           153
       1999.0          2          2         2       2             2

                  FromStationName  ToStationName  FromStationID  ToStationID  \
Gender Birthyear
Female 1931.0                   1              1              1            1
       1946.0                  43             43             43           43
       1947.0                 691            691            691          691
       1948.0                   6              6              6            6
       1949.0                 132            132            132          132
...                           ...            ...            ...          ...
Other  1988.0                   5              5              5            5
       1989.0                   1              1              1            1
       1990.0                  12             12             12           12
       1992.0                 153            153            153          153
       1999.0                   2              2              2            2

                  Usertype
Gender Birthyear
Female 1931.0            1
       1946.0           43
       1947.0          691
       1948.0            6
       1949.0          132
...                    ...
Other  1988.0            5
       1989.0            1
       1990.0           12
       1992.0          153
       1999.0            2

[135 rows x 10 columns]

In [ ]:
gender_group = trip.groupby(["Gender", "Birthyear"])["TripID"]

In [ ]:
gender_group.count()

Gender  Birthyear
Female  1931.0         1
        1946.0        43
        1947.0       691
        1948.0         6
        1949.0       132
                    ...
Other   1988.0         5
        1989.0         1
        1990.0        12
        1992.0       153
        1999.0         2
Name: TripID, Length: 135, dtype: int64

In [ ]:
# extract, transform and load